// Ограничение макета
$wrapper-max: 1440px !default;
$wrapper-min: 280px !default;

// Контейнер
$container-max-widths: 1170px;
$container-padding: 15px;

// Контрольные точки
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

// Шрифт
$font-family-base: "Helvetica Now Display";
$font-size-base: 16px;
$line-height-base: 1.75;
$font-weight-base: 400;
$font-style-base: normal;

// Цвета
$color-bg-base: #fff;
$color-bg-promo: #f7f7f7;
$color-bg-input: #f5f5f5;
$color-bg-about: #fdfbf6;
$color-text-base: #61594d;
$color-text-dark: #2c2321;
$color-orange: #d6680f;
