.projects {
  padding: 120px 0;
  &__title {
    @include reset-model;
    @include font-cabinet-black;
    @include font(48px, 60px);
    color: $color-text-dark;
    margin-bottom: 50px;
  }

  &__item:not(:last-child) {
    margin-bottom: 150px;
  }
}
