.services-item {
  &::before {
    display: table;
    margin-bottom: 22px;
  }

  &--interior::before {
    content: url("../img/icon-interior.svg");
  }

  &--design::before {
    content: url("../img/icon-design.svg");
  }

  &--product::before {
    content: url("../img/icon-product.svg");
  }

  &__title {
    @include reset-model;
    @include font-cabinet-black;
    @include font(32px, 40px);
    color: $color-text-dark;
    margin-bottom: 10px;
  }

  &__description {
    @include reset-model;
    margin-bottom: 25px;
  }

  &__more {
    @include font-cabinet-bold;
    @include font(16px, 20px);
    color: $color-text-dark;
    &:hover {
      color: $color-orange;
    }
  }
}
